.container-fluid {
    background-color: #3742fa;
    font-family: 'Roboto Condensed';
    height: 48px;
    width: 100%;
    margin-top: -8px;
}

.collapse {
    background-color: #3742fa;

}

.table-container {
    height: 90vh;
    margin: 40px;
}

.user-panel-nav-item:hover {
    color: black;
    background-color: #ffa502;
    height: 48px;
}

.btn {
    color: #fff;
    font-weight: 900;
    font-family: 'Roboto Condensed';
    height: 48px;
    font-size: 15px;

}

.btn:hover {
    color: black;
    background-color: #ffa502;
    height: 48px;
}

.form-check-input:checked {
    background-color: #ffa502;
    margin-top: 8px;


}

.user-panel-searchbar {
    display: flex;
    justify-content: center;
}

.navinput {
    font-size: 15px;
    height: 20px;
    margin-top: 10px;
    border-radius: 50px;
    border: none;
    outline: none;
}

.inline {
    max-width: 400px;
    margin: auto;
}

.input-icons i {
    position: absolute;
}

.input-icons {
    width: 100%;
    margin-bottom: 10px;
}

.icon {
    margin-top: 10px;
    padding: 3px;
    border-radius: 50px;
    margin-left: -4px;

    background-color: #fff;

}


.input-field {
    width: 100%;
    padding: 10px;
    text-align: center;
    margin-bottom: 3px;
}

.user-panel-footer {
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: #3742fa;
    font-family: 'Roboto Condensed';
    min-height: 40px;
    height: auto;
    width: 100%;
    color: white;
    font-size: 15px;
    font-weight: bold;
}

.user-panel-footer-link {
    text-decoration: none;
    color: #fff;
    border: none;
    background-color: #3742fa;
    height: 40px;
    font-weight: bold;
}

.user-panel-footer-link:hover {
    color: black;
    background-color: #ffa502;
}

@media screen and (max-width: 768px) {
    .user-panel-footer {
        width: 100%;
        margin-inline: auto;
        display: inline-block;
    }

    .user-panel-footer-img {
        display: none;
    }

    .user-panel-footer {

        height: auto;

    }

    .table-container {
        height: auto;
        margin: auto;
    }

    .user-panel-searchbar {
        margin-left: -28px;
    }
    .topicname{
        width: auto;
        margin-top: 40px;
        
    }
    .topichead{
        font-size: 15px;
       
        margin-left:auto;
    }
}

.user-panel-student-coursselection {
    display: flex;
    justify-content: space-around;
}

.user-panel-students-teacher-details {
    width: 200px;
    margin-right: 60px;
}

@media screen and (max-width: 800px) {

    .user-panel-student-coursselection {
        display: inline-block;
        align-items: center;

    }

    .user-panel-student-box-left {
        margin-top: 30px;
    }

    .user-panel-student-connect-btn {
        margin-left: 20px;
    }

    .user-panel-students-teacher-details {
        width: 100px;
        margin-right: 20px;
    }
    .tutor-panel-customization-options{
        width: 50px;
    }
    .user-panel-student-topic{
        margin-left: 10px;
        margin-top: 40px;
    }
    .col{
        margin-top: 40px;
    }
  
}

.user-panel-student-box {
    font-family: 'Roboto Condensed';
    margin-top: 30px;
    margin-bottom: 30px;
}

.user-panel-student-heading {
    text-align: center;
    font-size: 22px;
    color: #41464b;
    margin-bottom: 30px;
}

.user-panel-student-box-left {
    margin-left: 30px;
}

.user-panel-student-box-heding {
    font-size: 18px;
    color: #41464b;
    text-align: center;
}

.user-panel-student-box-selector-heding {
    font-size: 20px;
    margin-right: 40px;
    margin-top: 5px;
    color: #41464b;
}

.user-panel-student-box-selector-heding2 {
    font-size: 20px;
    margin-right: 22px;
    margin-top: 5px;
    color: #41464b;
}

.user-panel-student-box-selector {
    width: 100%;
    height: 15px;

}

.user-panel-student-box-courses {
    width: 100%;
    display: flex;
    margin-inline: auto;
    margin-top: 20px;
}

.user-panel-student-box-courses-search {
    font-style: italic;
    color: #64707b;
    font-size: 15px;
}

.user-panel-student-connect-btn {
    text-decoration: none;
    padding: 6px;
    border: none;
    border-radius: 10px;
    background-color: #3742fa;
    font-size: 15px;
    color: #fff;
}

.user-panel-student-connect-btn:hover {
    color: black;
    background-color: #ffa502;
}

.user-panel-courses {
    margin-top: 20px;
    display: flex;
    align-items: center;
    gap: 40px;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;

}

.user-panel-student-teacher-img {
    border-radius: 10px;
    height: 80px;
    width: 80px;
}

.table-row {
    border-top: 1px solid black;
}

.user-panel-batches{
    font-size: 25px;
}