* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-transform: capitalize;
    font-family: 'Roboto Condensed';

}

body {
    width: 100vw;
    background-color: #fff;
    font-family: 'Roboto Condensed';
}


.container .main-video {
   
    background: #fff;
    
    border-radius: 10px;
}

.container .main-video video {
    width: 100vw;
    height: 80vh;
    border-radius: 10px;
    
}
.reply:hover{
    background-color: rgb(32, 33, 25);
    color: aliceblue;

}
.container .main-video .title {
    color: #000;
    font-size: 25px;

}

.container .video-lists {
    background-color: #fff;
    max-height: 100vh;
    overflow-y: scroll;
}

.container .video-lists .lists video {
    width: 100px;
    
    border-radius: 5px;
}

.container .video-lists::-webkit-scrollbar {
    width: 7px;
}

.container .video-lists::-webkit-scrollbar-track {
    background-color: #fff;
    border-radius: 50px;
}

.container .video-lists::-webkit-scrollbar-thumb {
    background-color: #666;
    border-radius: 50px;
}

.container .video-lists .lists {
    display: flex;
    align-items: center;
    gap: 10px;
   
    color: black;
    background-color: #fff;
    
    margin: 10px;
   
    cursor: pointer;
}

.container .video-lists .lists h1 {
    font-size: 15px;
}

.container .video-lists .lists:hover {
    color: #fff;
    background-color: #ffa502;
    zoom: 110%;
   
}

.container .video-lists .lists.active {
    background-color: gray;
    color: #fff;
}

.submit-btn {
    color: #fff;
    background-color: #3742fa;
    font-weight: 900;
    height: 48px;
    font-size: 15px;
}

.submit-btn:hover {
    color: black;
    background-color: #ffa502;
    height: 48px;
}

.subscribe-button {
    color: #fff;
    background-color: #3742fa;
    font-weight: 900;
    font-size: 15px;
    padding-inline: 15px;
    border-radius: 50px;
    margin-left: 10px;
}

.subscribe-button:hover {
    color: black;
    background-color: #ffa502;

}

.action-button {
    
    color: #3742fa;
    font-weight: 900;
    font-size: 15px;
    padding-inline: 15px;
    padding-block: 5px;
    border-radius: 50px;
    
}

.action-button:hover {
    cursor: pointer;
    color: #ffa502;

}



@media (max-width:991px) {
    .container {

        grid-template-columns: 2fr 1fr;

        padding: 10px;
    }
    .container .main-video video {
        width: 100vw;
        height: auto;
        border-radius: 10px;
        
    }

}

@media (max-width:768px) {
    .container {
        grid-template-columns: 1fr;
    }

    .container .main-video {
        width: 100vw;
        background: #fff;
        padding: 10px;
        border-radius: 10px;
    }

    .container .video-lists {
        background-color: #fff;
        width: 100vw;
        overflow-y: scroll;
    }
}